.text-center {
    text-align: center;
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}

@media (max-width: 768px) {
    .col-2 {
        grid-template-columns: 1fr;
    }
}