@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('./form.css');
@import url('./buttons.css');
@import url('./spaces.css');

:root {
    --primary: cornflowerblue;
    --secondary: purple;
    --danger: tomato;
    --warning: orange;
    --success: green;
    --grey: lightgrey;
}

*{
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}
